// app global css
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 15px;
}

.flex-block{
  margin 5px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.margin-auto{
  margin auto;
}

.canvas-container{
  margin auto;
}

.style-result{
  font-size: 28px;
  font-weight: bold;
}

.btn-45{
  width: 45%;
}

.probability-block{
  border: solid 2px;
}